{% extends 'base.html' %}
{% load static%}

{% block title %} About Me {% endblock title %}

{% block content %}


<section class="about-section center-row">

    <div class="about-image-container center-row">
        <img src="static/img/me.jpg" alt="sheree">
    </div>

    <div class="about-description-container center-column">

        <h1> Avid Learner Developer</h1>
        <h2>Sheree</h2>

        <p>As a full stack development student, I am passionate about learning and mastering both front-end and back-end
            technologies. However, I’ve faced challenges along the way—balancing the vast amount of information and
            skills
            needed for both sides of development can be overwhelming at times. I often find myself navigating complex
            frameworks and debugging intricate issues, which can be both frustrating and rewarding.
            My curiosity drives me to continuously learn new technologies and best practices, but I'm also in the
            process of
            exploring my career path. I’m still figuring out where my true interests lie—whether it’s in front-end
            design,
            back-end architecture, or something else entirely. I’m a bit of an introvert which makes it a challenge
            collaborating with others. I’m excited to bring my skills to real-world applications while continuing to
            discover what I want to pursue after graduation.
        </p>
</section>
</div>
<div class="skills-container center-column">
    <h2>Skills</h2>
    <div class="skills-list center-row">
        <label class="text-label">Django</label>
        <label class="text-label">HTML/CSS</label>
        <label class="text-label">Python</label>
        <label class="text-label">Testing</label>
        <label class="text-label">DataBase Management</label>

        {% endblock content %}