{% extends 'base.html' %}
{% load static %}

{% block title %} Experience {% endblock title %}

{% block content %}

<section class="experience-section center-column">
    <h2>Experience or Education</h2>

    <div class="experience-list center row">

        {% for experience in experience %}

        <div class="experience-card">
            <p>{{experience.name}}</p>
            <p>{{experience.title}}</p>
            <p>{{experience.description}}</p>
            <p>{{experience.period}}</p>

            <div class="experience-skills">
                <label class="text-label">Django</label>
                <label class="text-label">HTML</label>
                <label class="text-label">CSS</label>
                <label class="text-label">Skill 4</label>
                <label class="text-label">Skill 5</label>

                {% for skill in experience.skills.all %}
                <label class="text-label">{{skill.name}}</label>

                {% endfor %}
            </div>

        </div>
        {% endfor %}
    </div>


</section>

{% endblock content %}