{% extends 'base.html' %}
{% load static %}

{% block title %} Experience {% endblock title %}

{% block content %}

<section class="experience-section center-column">
    <h2>Experience or Education</h2>

    <div class="experience-list center row">

        <div class="exerience-card">
            <p>Name of the school or company</p>
            <p>Course name/ Job Position</p>
            <p>Short description here about the course or responsibilities in the job position. No more than five lines
                of text.</p>
            <p>Month-Month YYYY</p>

            <div class="experience-skills">
                <label class="text-label">Django</label>
                <label class="text-label">HTML</label>
                <label class="text-label">CSS</label>
                <label class="text-label">Skill 4</label>
                <label class="text-label">Skill 5</label>
            </div>

        </div>

    </div>


</section>

{% endblock content %}