header {
    background-color: var(--surface-color);
    height: 60px; 
    position: sticky;
    top: 0px;
}
.logo {
    width: 30%;
    height: 100%;

}
/* Right Side */
.nav-menu {
    width: 70%;
    height: 100%;
}

.nav-options {
    width:100%;
    height:100%;
}

.nav-options a {
    color: var(--neutral-color);
    font-size: 1rem;
    text-transform: uppercase;
    margin: 2%;
    padding: 1% 2%;
}

.nav-options a:hover {
    border-bottom: solid 2px var(--primary-color);
}

#checkbox, .hamburger-btn {
    display: none;
}